@model IEnumerable<Scrum3.Model.Kurssit>

@{
    ViewBag.Title = "Index";
}

<h2>Kurssit</h2>

<p>
    @Html.ActionLink("Lisää uusi kurssi", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Kurssi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Laajuus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Kurssi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Laajuus)
        </td>
        <td>
            @Html.ActionLink("Muokkaa", "Edit", new { id=item.KurssiId }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.KurssiId }) |*@
            @Html.ActionLink("Poista", "Delete", new { id=item.KurssiId })
        </td>
    </tr>
}

</table>
