@model IEnumerable<Scrum3.Model.Osallistumiset>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KurssiToteutukset.KurssitoteutusID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Opiskelijat.Etunimi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KurssiToteutukset.KurssitoteutusID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Opiskelijat.Etunimi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OsallistumisetID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OsallistumisetID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OsallistumisetID })
        </td>
    </tr>
}

</table>
