@model IEnumerable<Scrum3.ViewModels.Class1>

@{
    ViewBag.Title = "Index";
}


<h2>Osallistumiset</h2>

<form>
    <input type="button" value="Tulosta"
           onclick="window.print()" />
</form>

<div class="form-group">
    <label for="sel1">Valitse kurssi (päivämäärän mukaan):</label>
    <select class="form-control" id="sel1">
        @foreach (var x in Model)
        {

            <option>

                @Html.DisplayFor(modelItem => x.Kurssi)
                @Html.DisplayFor(modelItem => x.Paivamaara)

            </option>

        }

    </select>
</div>

<table class="table table-hover">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Kurssi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paivamaara)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sukunimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Etunimi)
        </th>
    </tr>

    @foreach (var osallistumiset in Model)
    //{string.Equals(string str1, string str2)

    {
        <tr>
            @if (osallistumiset.Kurssi.Equals("X") && osallistumiset.Sukunimi == "X")
            {
                <td>

                    @Html.DisplayFor(modelItem => osallistumiset.Kurssi)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => osallistumiset.Paivamaara, "{0:d}")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => osallistumiset.Sukunimi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => osallistumiset.Etunimi)
                </td>
                <td>
                </td>
            }
        </tr>
    }

</table>

