@model IEnumerable<Scrum3.Model.Opiskelijat>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Etunimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sukunimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Puhelin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sahkoposti)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Logins.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Etunimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sukunimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Puhelin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sahkoposti)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Logins.UserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Opiskelijanumero }) |
            @Html.ActionLink("Details", "Details", new { id=item.Opiskelijanumero }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Opiskelijanumero })
        </td>
    </tr>
}

</table>
