@model IEnumerable<Scrum3.Model.Opiskelijat>

@{
    ViewBag.Title = "Index";
}

<h2>Opiskelijatiedot</h2>

<p>
    @Html.ActionLink("Lisää uusi opiskelija", "Create")
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Opiskelijanumero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Etunimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sukunimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Puhelin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sahkoposti)
        </th>


        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem =>item.Opiskelijanumero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Etunimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sukunimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Puhelin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sahkoposti)
        </td>

        <td>
            @Html.ActionLink("Muokkaa", "Edit", new { id=item.Opiskelijanumero }) |
           @*@Html.ActionLink("Details", "Details", new { id=item.Opiskelijanumero }) |*@
            @Html.ActionLink("Poista", "Delete", new { id=item.Opiskelijanumero })
        </td>
    </tr>
}

</table>
