@model Scrum3.Model.KurssiToteutukset

@{
    ViewBag.Title = "Delete";
}

<h2>Poista kurssitoteutus</h2>

<h3>Oletko varma, että haluat poistaa kurssitoteutuksen?</h3>
<div>
    @*<h4>KurssiToteutukset</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Paivamaara)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paivamaara)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kellonaika)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kellonaika)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kurssit.Kurssi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kurssit.Kurssi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Luokkatilat.Luokka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Luokkatilat.Luokka)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opettajat.Etunimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opettajat.Etunimi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Poista kurssitoteutus" class="btn btn-default" /> |
            @Html.ActionLink("Takaisin", "Index")
        </div>
    }
</div>
